.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
    overflow-y: auto; 

}

.box {
  background: linear-gradient(135deg, #f7d1cd 0%, #fffcd4  100%);
  border-radius: 20px; 
  width: 80%;
  max-width: 600px; 
  padding: 30px; 
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); 
  animation: fadeIn 0.5s ease-in-out; 
}

.box button {
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
font-size: 1.8rem; 
  color: #E2495B;
  cursor: pointer;
  transition: color 0.2s;
  position: absolute,
}

.box button:hover {
  color: #C4BA3B;
}

.box h1 {
  margin-top: 0;
  color: #E2495B;
  padding-bottom: 10px;
  font-size: 2.5rem; 
  border-bottom: 3px solid #C4BA3B; 
}

.box p {
  color: #333;
 font-size: 1.2rem;
   line-height: 1.5;
  margin: 20px 0;
}

.box h4 {
  color: #C4BA3B;
  font-size: 1.5rem; 
  margin-top: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
