

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: linear-gradient(135deg, #ff6f61 0%, #C4BA3B  100%);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .nav h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav ul li {
    margin-left: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .nav ul li:hover {
    color: #ece9b6;
  }
  
  .nav ul input {
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    transition: box-shadow 0.3s ease;
  }
  
  .nav ul  input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(255, 111, 97, 0.5);
  }